.footer {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  margin: 0 70px; 
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    margin: 0;
  }
}