.about-project__tech-name {
  margin: 14px 0 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

@media screen and (max-width: 768px) {
  .about-project__tech-name {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 500px) {
  .about-project__tech-name {
    font-size: 11px;
    line-height: 13px;
    margin: 10px 0 70px;
  }
}