.about-project__container {
  display: flex;
  flex-direction: column;
  margin: 110px 70px 0;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .about-project__container {
    margin: 90px 50px 0; 
  }
}

@media screen and (max-width: 500px) {
  .about-project__container {
    margin: 70px 18px 0; 
  }
}