.about-me__additional-info {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px auto 0 0;
}

@media screen and (max-width:768px) {
  .about-me__additional-info {
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
  }
}

@media screen and (max-width:500px) {
  .about-me__additional-info {
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
  }
}