.footer__row-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .footer__row-links {
    flex-direction: column;
    padding: 0;
  }
}