.footer__container {
  max-width: 1140px;
  height: 172px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .footer__container {
    margin: auto 30px;
  }
}

@media screen and (max-width: 500px) {
  .footer__container {
    margin: 0 10px;
  }
}