.form__container {
  display: flex;
  flex-direction: column;
  width: 396px;
  align-self: center;
  height: auto;
}

@media screen and (max-width: 500px) {
  .form__container {
    width: auto;
    margin: 56px 0 30px;
    width: 260px;
  }
}