.logo_place_header {
  margin-top: 18px;
  margin-bottom: 18px;
  padding-right: 65px;
}

.logo_place_header:hover {
  transform: scale(1.1);
  filter: drop-shadow(3px 0px 3px rgb(7, 168, 42, .8));
}

@media screen and (max-width: 768px) {
  .logo_place_header {
    padding-right: 0;
  }

  .logo_place_header:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 3px rgb(7, 168, 42, .8));
  }
}
