.about-me__connections {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .about-me__connections {
    margin: auto 0 0;
    padding: 0;
    height: 20px;

  }
}

@media screen and (max-width: 500px) {
  .about-me__connections {
    margin: 55px 0 0;
  }
}