.about-me__container {
  margin: 110px 70px 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about-me__container {
    margin: 90px 50px 90px;
  }
}

@media screen and (max-width: 550px) {
  .about-me__container {
    margin: 70px 14px 70px;
  }
}