.profile__container {
  display: flex;
  flex-direction: column;
  width: 410px;
  align-self: center;
  margin-top: 148px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .profile__container {
    margin-top: 310px;
  }
}

@media screen and (max-width: 500px) {
  .profile__container {
    width: 100%;
    margin: 142px 30px auto;
  }
}
