.navtab__link {
  color: #000000;
  text-decoration: none;
  background-color: #f3c1f8;
  height: 36px;
  width: 126px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  opacity: 0.6;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-top: 146px;
}

.navtab__link:last-of-type {
  margin-left: 10px;
}

.navtab__link:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 3px rgba(215, 228, 217, 0.8));
  box-shadow: inset 0px 0px 5px rgba(236, 234, 234, 0.5);
}
@media screen and (max-width: 1100px) {
  .navtab__link {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .navtab__link {
    width: 82px;
    height: 26px;
    font-weight: 500;
    font-size: 10px;
  }

  .navtab__link:first-of-type {
    margin-right: 6px;
  }

  .navtab__link:last-of-type {
    margin-left: 6px;
  }
}
