.link_place_about-me {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #fff;
}

.link_place_about-me:first-of-type {
  margin-right: 20px;
}

@media screen and (max-width: 500px) {
  .link_place_about-me:first-of-type {
    margin-right: 26px;
  }
}
