.link_place_header-registration {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 17px;
  align-self: center;
  margin-right: 16px;
  color: #000000;
}

.link_place_header-registration:first-child {
  margin-right: 30px;
  margin-left: auto;
}

@media screen and (max-width: 500px) {
  .link_place_header-registration:first-child {
    margin-right: 15px;
    font-size: 10px;
    line-height: 16px;
    margin-top: 4px;
  }
}
