.about-me__avatar {
  background-image: url(../../../../images/avatar.jpg);
  width: 270px;
  height: 327px;
  background-position: center;
  border-radius: 3px;
  margin: 0 0 auto auto;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .about-me__avatar {
    max-width: 255px;
    max-height: 307px;
  }
}

@media screen and (max-width: 500px) {
  .about-me__avatar {
    min-width: 292px;
    min-height: 352px;
    height: 100%;
    width: 100%;
    margin: 60px auto 0;
  }
}