.movies-card-list__more-btn {
  border: none;
  border-radius: 6px;
  background-color: #2F2F2F;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  height: 36px;
  cursor: pointer;
  transition: all .3s ease;
  margin: 0 70px;
  outline: none;
}

.movies-card-list__more-btn:hover {
  background-color: #444343;
}

@media screen and (max-width: 768px) {
  .movies-card-list__more-btn {
    margin: 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies-card-list__more-btn {
    margin: 40px 10px;
  }
}