.movie-card__trailer::before {
  content: "";
  /* position: absolute; */
  background-color: #080808;

  opacity: 0;
  border-radius: 6px;
  transition: all 0.2s ease-out;
}

.movie-card__trailer:hover::before {
  opacity: 0.4;
}
