.saved-movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  margin-bottom: 336px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .saved-movies {
    margin-bottom: 300px;
  }
}