.movie-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  height: max-content;
  max-width: 250px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

@media screen and (max-width: 500px) {
  .movie-card__title {
    font-size: 12px;
    line-height: 15px;
    height: 18px;
  }
}
