@import url(./footer/footer.css);
@import url(./footer/__rows/footer__rows.css);
@import url(./footer/__author/footer__author.css);
@import url(./footer/__row-links/footer__row-links.css);
@import url(./footer/__description/footer__description.css);
@import url(./footer/__container/footer__container.css);