.about-me__info-container {
  display: flex;
  flex-direction: row;
  margin-top: 66px;
  color: #000000;
}

@media screen and (max-width: 500px) {
  .about-me__info-container {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
